<footer class="footer">
    <div class="footer-content footer-background">
        <div class="overlay">
            <div class="grid">
                <div class="column">
                    <h2>{{ 'footer.orario.titolo' | translate }}</h2>
                    <p><b>{{ 'footer.orario.lun' | translate }}</b>: 12:30 - 14:00; 19:00 - 21:00;</p>
                    <p><b>{{ 'footer.orario.mar' | translate }}</b>: 12:30 - 14:00; 19:00 - 21:00;</p>
                    <p><b>{{ 'footer.orario.mer' | translate }}</b>: 12:30 - 14:00; 19:00 - 21:00;</p>
                    <p><b>{{ 'footer.orario.gio' | translate }}</b>: {{ 'footer.orario.chiuso' | translate }}</p>
                    <p><b>{{ 'footer.orario.ven' | translate }}</b>: 12:30 - 14:00; 19:00 - 21:00;</p>
                    <p><b>{{ 'footer.orario.sab' | translate }}</b>: 12:30 - 14:00; 19:00 - 21:00;</p>
                    <p><b>{{ 'footer.orario.dom' | translate }}</b>: 12:30 - 14:00; 19:00 - 21:00;</p>
                </div>
                <div class="column">
                    <h2>{{ 'footer.posizione' | translate }}</h2>
                    <p>Via XXV Aprile, 24, 06061 Castiglione del Lago PG</p>
                </div>
                <div class="column">
                    <h2>{{ 'footer.prenotazione' | translate }}</h2>
                    <p><b>Tel</b>: 075 95 3113</p>
                </div>
            </div>
        </div>
    </div>
</footer>