<div class="cover" id="cover-home">
    <div class="cover-content cover-background">
        <div class="overlay">
            <div class="cover-text">
                <hr>
                <h1>Osteria Le Scalette</h1>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="biography">
    <div class="biography-text">
        <h2>Le Scalette</h2>
        <p>{{ 'home.introduzione' | translate }}</p>
    </div>
</div>

<div class="cover" id="cover-menu">
    <div class="cover-content cover-background">
        <div class="overlay">
            <div class="cover-text">
                <hr>
                <h1>{{ 'home.menu.titolo' | translate }}</h1>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="menu-content">
        <div class="menu-text">
            <p [innerHTML]="'home.menu.descrizione' | translate "></p>
        </div>

        <hr style="border-color: #000;">

        <div class="menu-section">
            <div class="menu-food">
                <div class="circle-menu" routerLink="/menu">
                    <div id="circle-food"></div>
                </div>
            </div>
            <div class="menu-wine">
                <div class="circle-menu">
                    <div id="circle-wine"></div>
                </div>
            </div>
        </div>
    </div>
</div>