.pages-menu {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 128px;
}

.page-menu {
    &:not(:first-child) {
        margin-top: 34px;
    }
    
    .grid {
        .row {
            display: flex;
            flex-wrap: wrap;
            
        }
        
        .col-1 {
            width: 100%;
        }
        
        .col-2 {
            width: 50%;
        }
        
        .col-3 {
            width: 33.33%;
        }
    }
    
    hr {
        border-color: #585858;
        margin: 14px auto;
        width: 30px;
    }
    
    .menu-title, .menu-round {
        text-align: center;
    }
    
    .menu-round {
        margin-top: 10px;
    }
    
    .name-dish {
        margin: 0 auto;
        max-width: 300px;
        padding: 10px;
        margin-bottom: 24px;
        text-align: center;
    }
}

.arrow-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 6px;
    display: none;
}

@media screen and (max-width: 768px) {
    .arrow-top {
        display: initial;
    }
    
    .grid .col-3 {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .page-menu {
        .grid .col-3, .grid .col-2 {
            width: 100%;
        }
        
        .name-dish {
            padding: 0;
        }
    }
    
}