<div class="pages-menu">
    <div class="page-menu" *ngFor="let categoryMenu of (arrCategoryMenu$ | async)">
        <div class="grid">
            <div class="row">
                <div class="col-1 menu-title">
                    <h2>{{ categoryMenu.name }}</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-1 menu-round">
                    <h3>Antipasto</h3>
                    <hr>
                </div>
            </div>
            
            <div class="row">
                <div class="col-{{ getTypeNumColumn(getArrDishes(categoryMenu.id, 'Antipasto')) }}" *ngFor="let dish of getArrDishes(categoryMenu.id, 'Antipasto')">
                    <p class="name-dish">
                        {{ dish.name }}
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-1 menu-round">
                    <h3>Primo</h3>
                    <hr>
                </div>
            </div>
            
            <div class="row">
                <div class="col-{{ getTypeNumColumn(getArrDishes(categoryMenu.id, 'Primo')) }}" *ngFor="let dish of getArrDishes(categoryMenu.id, 'Primo')">
                    <p class="name-dish">
                        {{ dish.name }}
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-1 menu-round">
                    <h3>Secondo</h3>
                    <hr>
                </div>
            </div>
            
            <div class="row">
                <div class="col-{{ getTypeNumColumn(getArrDishes(categoryMenu.id, 'Secondo')) }}" *ngFor="let dish of getArrDishes(categoryMenu.id, 'Secondo')">
                    <p class="name-dish">
                        {{ dish.name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="arrow-top"></div>