<div class="menu">
    <div class="menu-section" *ngFor="let categoryMenu of arrCategoryMenu">
        <div class="menu-title">
            <h2>{{ categoryMenu.name }}</h2>
        </div>
        
        <div class="menu-round">
            <h3>Antipasto</h3>
        </div>
        
        <hr>
        
        <div class="menu-dishes">
            <p *ngFor="let dish of getArrDishes(categoryMenu.id, 'Antipasto')">{{ dish.name }}</p>
        </div>
        
        <div class="menu-round">
            <h3>Primo</h3>
        </div>
        
        <hr>
        
        <div class="menu-dishes">
            <p *ngFor="let dish of getArrDishes(categoryMenu.id, 'Primo')">{{ dish.name }}</p>
        </div>
        
        <div class="menu-round">
            <h3>Secondo</h3>
        </div>
        
        <hr>
        
        <div class="menu-dishes">
            <p *ngFor="let dish of getArrDishes(categoryMenu.id, 'Secondo')">{{ dish.name }}</p>
        </div>
    </div>
</div>

<div class="arrow-top"></div>