<div class="cover" id="cover-home">
  <div class="cover-content cover-background">
    <div class="overlay">
      <div class="cover-text">
        <hr>
        <h1>Osteria Le Scalette</h1>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="biography">
  <div class="biography-text">
    <h2>Le Scalette</h2>
    <p>Un piccolo e accogliente ristorante, sulla scalinata principale che portano al centro storico di Castiglione del Lago e con vista lago. <br><br>Proponiamo una cucina tipica Umbra e Toscana, molto semplice, casareccia, genuina, pulita e curata. Abbiamo una discreta cantina dei vini con circa 200 etichette.</p>
  </div>
</div>

<div class="cover" id="cover-menu">
  <div class="cover-content cover-background">
      <!-- <swiper-container slides-per-view="1">
        <swiper-slide *ngFor="let slide of images">
          <div class="image"></div>
        </swiper-slide>
      </swiper-container> -->

    <div class="overlay">
      <div class="cover-text">
        <hr>
        <h1>Menù</h1>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="menu-content">
    <div class="menu-text">
      <p>Proponiamo una cucina tipica Umbra e Toscana, molto semplice, casareccia, genuina, pulita e curata.</p>
    </div>
    
    <hr style="border-color: #000;">
    
    <div class="menu-section">
      <div class="menu-food">
        <div class="circle-menu">
          <div id="cirlce-food"></div>
        </div>
      </div>
      <div class="menu-wine">
        <div class="circle-menu">
          <div id="circle-wine"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="footer-content footer-background">
    <div class="overlay">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ipsa maiores porro voluptatem animi nulla mollitia dolor iste ea ullam, illum optio nisi atque nesciunt nihil, aspernatur perferendis vel nobis.</p>
    </div>
  </div>
</footer>