<div class="cover" id="cover-home">
  <div class="cover-content cover-background">
    <div class="overlay">
      <div class="cover-text">
        <hr>
        <h1>Osteria Le Scalette</h1>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="biography">
  <div class="biography-text">
    <h2>Le Scalette</h2>
    <p>Un piccolo e accogliente ristorante, sulla scalinata principale che portano al centro storico di Castiglione del Lago e con vista lago. <br><br>Proponiamo una cucina tipica Umbra e Toscana, molto semplice, casareccia, genuina, pulita e curata. Abbiamo una discreta cantina dei vini con circa 200 etichette.</p>
  </div>
</div>

<div class="cover" id="cover-menu">
  <div class="cover-content cover-background">
    <div class="overlay">
      <div class="cover-text">
        <hr>
        <h1>Menù</h1>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="menu">
  <div class="menu-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic tempore est voluptate quas placeat nam ex atque fuga aspernatur iste! Modi, velit alias. Repellendus voluptatibus illum sequi. Vero, exercitationem corporis?</p>
    
    <div class="menu-section">
      <div class="menu-food">
        <div class="circle-menu" id="cirlce-food"></div>
      </div>
      <div class="menu-wine">
        <div class="circle-menu" id="circle-wine"></div>
      </div>
    </div>
  </div>
</div>

ciao